<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user to the film database</title>
      <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Add user to the film database</h1>
<div class="form">
<form  action='/add_user' method='POST'>
  <label for="username">User name:</label><br>
  <input type="text" id="username" name="username" required><br>
  <input type="submit" value="Add user" />
</form>
</div>
<p><a href="/"><<< Return to main user list</a></p>


</body>
</html>